<div *ngIf="showError" class="alert alert-danger" role="alert">
  {{ textError | uppercase }}
</div>
<div class="container mt-4">
  <h1 class="display-5 text-center">Paste a URL to be shortened</h1>
  <div class="row mt-5 mb-4">
    <div class="col-lg-8">
      <input type="text" [(ngModel)]="urlName" class="form-control form-control-lg" placeholder="Enter a URL">
    </div>
    <div class="col-lg-4">
      <div class="d-grid gap-2 mx-auto">
        <button (click)="shortenUrl()" class="btn btn-dark btn-lg" type="button">Shorten URL</button>
      </div>
    </div>
  </div>
  <div *ngIf="urlShortened" class="row">
      <div class="col-lg-8">
        <input type="text" [(ngModel)]="urlShort" class="form-control form-control-lg" placeholder="Your shortened URL">
      </div>
    </div>
  <app-spinner *ngIf="loading"></app-spinner>
</div>
